dataclasses
-e git+git://github.com/taoluo/simpy.git@osdi21_artifact#egg=simpy
-e git+git://github.com/taoluo/desmod.git@osdi21_artifact#egg=desmod
# for gtkwave save image.
path
EasyProcess
pyvirtualdisplay
pyscreenshot
pillow
docutils
Sphinx
pyDigitalWaveTools

# todo jupyternotbook




